/* BODY */
body {
  margin: 0px;
  padding: 0px;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* SCAFFOLD */
.scaffold {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.scaffold__modal {
  width: 100%;
  height: 100%;
  position: fixed;
  background: transparent;
  left: 0px;
  top: 0px;
  z-index: 3;
}

.scaffold__modal--open {
  left: 300px;
  -webkit-transition: left 0.2s;
  transition: left 0.2s;
}

/* SCAFFOLD NAV */
.scaffold__nav {
  width: 300px;
  background: #ccc;
  height: 100%;
  overflow-x: scroll;
  position: fixed;
  left: -300px;
  -webkit-transition: left 0.2s;
  transition: left 0.2s;
  z-index: 2;
}

.scaffold__nav--open {
  -webkit-transition: left 0.5s;
  transition: left 0.2s;
  left: 0px;

}

.scaffold__nav-content {

}


/* SCAFFOLD NAV ITEMS */
.left-nav__item {
  width: 100%;
  height: 50px;
  padding-top: 20px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.left-nav__item--nav-level-1 {
  width: 100%;
  height: 50px;
  padding-top: 20px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  background: #efefef;
  cursor: pointer;
}

.left-nav__item--nav-level-2 {
  width: 100%;
  height: 50px;
  padding-top: 20px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  background: #dfdfdf;
  cursor: pointer;
}

.left-nav__item--nav-level-3 {
  width: 100%;
  height: 50px;
  padding-top: 20px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  background: #c4c4c4;
  cursor: pointer;
}

.left-nav__item--nav-level-4 {
  width: 100%;
  height: 50px;
  padding-top: 20px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  background: #aba9a9;
  cursor: pointer;
}


[data-role="has_subnav"]::after {
  content: '>';
  margin-left: 5px;
}

[data-parent] {
  display: none;
}

.left-nav__item-children {
  display: block;
}

.left-nav__item-title {
  font-weight: bold;
}

.left-nav__item-title::after {
  content: '>';
}



/* SCAFFOLD CONTENT */
.scaffold__content {
  padding-top: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-x: hidden;
  left: 0px;
  top: 0px;
  -webkit-transition: left 0.2s;
  transition: left 0.2s;
  z-index: 1;
}

.scaffold__content-inside {
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
}

.scaffold__content--open {
  left: 300px;
  -webkit-transition: left 0.2s;
  transition: left 0.2s;
}



/* TOP NAV */
.top-nav {
  position: fixed;
  top: 0px;
  height: 20px;
  background-color: #fff;
  width: 100%;
}
