body {
  margin: 0px;
  padding: 0px;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.scaffold {
  width: 100%;
  overflow-x: hidden;
}

.scaffold__modal {
  width: 100%;
  height: 100%;
  position: fixed;
  background: transparent;
  left: 0px;
  top: 0px;
  z-index: 3;
}

.scaffold__modal--open {
  left: 300px;
  -webkit-transition: left 0.2s;
  transition: left 0.2s;
}

.scaffold__nav {
  width: 300px;
  background: #ccc;
  height: 100%;
  overflow-x: scroll;
  position: fixed;
  left: -300px;
  -webkit-transition: left 0.2s;
  transition: left 0.2s;
  z-index: 2;
}

.scaffold__nav--open {
  -webkit-transition: left 0.5s;
  transition: left 0.2s;
  left: 0px;

}

.scaffold__nav-content {

}

.scaffold__content {
  padding-top: 20px;
  width: 800px;
  position: absolute;
  overflow-x: hidden;
  left: 0px;
  top: 0px;
  -webkit-transition: left 0.2s;
  transition: left 0.2s;
  z-index: 1;
}

.scaffold__content-inside {
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
}

.scaffold__content--open {
  left: 300px;
  -webkit-transition: left 0.2s;
  transition: left 0.2s;
}

.top-nav {
  position: fixed;
  top: 0px;
  height: 20px;
  background-color: #fff;
  width: 100%;
}

.left-nav__option {
  width: 100%;
  height: 50px;
  padding-top: 20px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

