/* TOP MENU */
.top-menu
  position: fixed
  top: 0px
  height: 20px
  background-color: $bg-color
  width: 100%

.top-menu__content
  @media (max-width: $mobile-max-width)
    display: none

  @media (min-width: $desktop-min-width)
    display: block

.top-menu__main
  float: left
  width: calc(100% - 200px)

.top-menu__overflow
  float: left

  &:hover
    .top-menu__overflow-content
      display: block

.top-menu__overflow-content
  display: none
  width: 200px
  background: #cccccc

  .top-menu__item
    float: none

.top-menu__item
  float: left
  font-size: 24px
  margin-right: 20px

/* LEFT MENU */
%left-menu__item
  width: 100%
  height: 50px
  padding-top: 20px
  font-size: 20px
  text-align: center
  cursor: pointer

  &--open
    font-weight: bold

/* Fancy-pants colour-loop for sub menu items. */
@for $i from 1 through length($left-menu-darken-amounts)
  .left-menu__item-depth-#{$i}
    @extend %left-menu__item
    background: darken($left-menu-item-bg-color, nth($left-menu-darken-amounts, $i))

[data-role="has_submenu"]::after
  content: '>'
  margin-left: 5px

[data-parent]
  display: none


.menu__open-side-menu
  display: block
  cursor: pointer
  @media (min-width: $desktop-min-width)
    display: none




/* FIT TEST STUFF */
.fit-test
  width: 200px
  border: 1px solid black

.fit-test__holder
  width: 50%
  margin-left: auto
  margin-right: auto
  border: 1px solid black
  height: 150px
